Package: wb-mqtt-zigbee
Version: 1.4.5
Architecture: all
Maintainer: Wiren Board team <info@wirenboard.com>
Installed-Size: 121
Depends: python3:any, python3-wb-common (>= 2.1.0~~)
Conflicts: wb-zigbee2mqtt
Section: misc
Priority: optional
Homepage: https://github.com/wirenboard/wb-mqtt-zigbee
Description: Wiren Board Zigbee2MQTT bridge
 Translates zigbee2mqtt MQTT messages to Wiren Board MQTT Conventions.
